<section id="project-area" class="project-area solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-title">Work of Excellence</h2>
                <h3 class="section-sub-title">Recent Projects</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-12">
                <div class="shuffle-btn-group">
                    <label class="active" for="all">
                        <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
                    </label>
                    <label for="bathroom">
                        <input type="radio" name="shuffle-filter" id="bathroom" value="bathroom">Bathroom
                    </label>
                    <label for="kitchen">
                        <input type="radio" name="shuffle-filter" id="kitchen" value="kitchen">Kitchen
                    </label>
                    <label for="flooring">
                        <input type="radio" name="shuffle-filter" id="flooring" value="flooring">Flooring
                    </label>
                </div><!-- project filter end -->


                <div class="row shuffle-wrapper overflow-auto" style="max-height: 500px;">
                    <div class="col-1 shuffle-sizer"></div>

                    <div class="row shuffle-item"
                         data-groups="[&quot;government&quot;,&quot;bathroom&quot;]">
                        <div class="project-img-container col-4">
                            <a class="gallery-popup medium-zoom" href="images/projects/bathroom/bathroom-1.jpg"
                               aria-label="project-img">
                                <img class="img-fluid medium-zoom" src="images/projects/bathroom/bathroom-1.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-2.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-2.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-3.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-3.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-4.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-4.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-5.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-5.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-6.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-6.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-7.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-7.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-8.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-8.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-9.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-9.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-10.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-10.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-11.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-11.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-12.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-12.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-13.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-13.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-14.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-14.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-15.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-15.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-16.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-16.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-17.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-17.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-18.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-18.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-19.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-19.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-20.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-20.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-21.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-21.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-22.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-22.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-23.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-23.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-24.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-24.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-25.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-25.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-26.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-26.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-27.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-27.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-28.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-28.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-29.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-29.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-30.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-30.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-31.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-31.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-32.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-32.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-33.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-33.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-34.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-34.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/bathroom/bathroom-35.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/bathroom/bathroom-35.jpg" alt="project-img">
                            </a>
                        </div>


                    </div><!-- shuffle item 1 end -->

                    <div class="row shuffle-item" data-groups="[&quot;kitchen&quot;]">
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/kitchen/kitchen-1.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/kitchen/kitchen-1.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/kitchen/kitchen-2.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/kitchen/kitchen-2.jpg" alt="project-img">
                            </a>
                        </div>
                    </div><!-- shuffle item 2 end -->

                    <div class="row shuffle-item" data-groups="[&quot;flooring&quot;]">
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-1.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-1.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-2.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-2.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-3.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-3.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-4.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-4.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-5.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-5.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-6.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-6.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-7.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-7.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-8.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-8.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-9.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-9.jpg" alt="project-img">
                            </a>
                        </div>
                        <div class="project-img-container col-4">
                            <a class="gallery-popup" href="images/projects/flooring/flooring-10.jpg"
                               aria-label="project-img">
                                <img class="img-fluid" src="images/projects/flooring/flooring-10.jpg" alt="project-img">
                            </a>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <!--          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">-->
                    <!--            <div class="project-img-container">-->
                    <!--              <a class="gallery-popup" href="images/projects/project4.jpg" aria-label="project-img">-->
                    <!--                <img class="img-fluid" src="images/projects/project4.jpg" alt="project-img">-->
                    <!--                <span class="gallery-icon"><i class="fa fa-plus"></i></span>-->
                    <!--              </a>-->
                    <!--              <div class="project-item-info">-->
                    <!--                <div class="project-item-info-content">-->
                    <!--                  <h3 class="project-item-title">-->
                    <!--                    <a href="projects-single.html">Narriot Headquarters</a>-->
                    <!--                  </h3>-->
                    <!--                  <p class="project-cat">Infrastructure</p>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>&lt;!&ndash; shuffle item 4 end &ndash;&gt;-->

                    <!--          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">-->
                    <!--            <div class="project-img-container">-->
                    <!--              <a class="gallery-popup" href="images/projects/project5.jpg" aria-label="project-img">-->
                    <!--                <img class="img-fluid" src="images/projects/project5.jpg" alt="project-img">-->
                    <!--                <span class="gallery-icon"><i class="fa fa-plus"></i></span>-->
                    <!--              </a>-->
                    <!--              <div class="project-item-info">-->
                    <!--                <div class="project-item-info-content">-->
                    <!--                  <h3 class="project-item-title">-->
                    <!--                    <a href="projects-single.html">Kalas Metrorail</a>-->
                    <!--                  </h3>-->
                    <!--                  <p class="project-cat">Infrastructure</p>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>&lt;!&ndash; shuffle item 5 end &ndash;&gt;-->

                    <!--          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">-->
                    <!--            <div class="project-img-container">-->
                    <!--              <a class="gallery-popup" href="images/projects/project6.jpg" aria-label="project-img">-->
                    <!--                <img class="img-fluid" src="images/projects/project6.jpg" alt="project-img">-->
                    <!--                <span class="gallery-icon"><i class="fa fa-plus"></i></span>-->
                    <!--              </a>-->
                    <!--              <div class="project-item-info">-->
                    <!--                <div class="project-item-info-content">-->
                    <!--                  <h3 class="project-item-title">-->
                    <!--                    <a href="projects-single.html">Ancraft Avenue House</a>-->
                    <!--                  </h3>-->
                    <!--                  <p class="project-cat">Residential</p>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>&lt;!&ndash; shuffle item 6 end &ndash;&gt;-->
                </div><!-- shuffle end -->
            </div>

            <!--      <div class="col-12">-->
            <!--        <div class="general-btn text-center">-->
            <!--          <a class="btn btn-primary" href="projects.html">View All Projects</a>-->
            <!--        </div>-->
            <!--      </div>-->

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->