<section class="content" id="testomonial-n-clients">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h3 class="column-title">Testimonials</h3>

          <div id="testimonial-slide" class="testimonial-slide">
              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">We hired Greg to renovate our bathroom, and he went above and beyond our expectations. From the first quote to the final tile, everything was handled professionally. The space looks amazing and feels brand new!</span>

                    <div class="quote-item-footer">
<!--                      <img loading="lazy" class="testimonial-thumb" src="images/clients/testimonial1.png" alt="testimonial">-->
                      <div class="quote-item-info">
                          <h3 class="quote-author">Sunit D</h3>
                          <span class="quote-subtext">Homeowner</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 1 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">Greg replaced all the flooring in our home, and the results are incredible. His attention to detail and craftsmanship are second to none. The project was finished on time, and everything was spotless when he left. Highly recommend!</span>

                    <div class="quote-item-footer">
<!--                      <img loading="lazy" class="testimonial-thumb" src="images/clients/testimonial2.png" alt="testimonial">-->
                      <div class="quote-item-info">
                          <h3 class="quote-author">Atul S</h3>
                          <span class="quote-subtext">Homeowner</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 2 end -->

              <div class="item">
                <div class="quote-item">
                    <span class="quote-text">Greg installed a new sunroof in our living area, and it has completely transformed the space. The natural light is amazing, and the workmanship is flawless. He was professional, tidy, and finished the job right on schedule</span>

                    <div class="quote-item-footer">
<!--                      <img loading="lazy" class="testimonial-thumb" src="images/clients/testimonial3.png" alt="testimonial">-->
                      <div class="quote-item-info">
                          <h3 class="quote-author">Lisa K</h3>
                          <span class="quote-subtext">Houmeowner</span>
                      </div>
                    </div>
                </div><!-- Quote item end -->
              </div>
              <!--/ Item 3 end -->

          </div>
          <!--/ Testimonial carousel end-->
        </div><!-- Col end -->

    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->